/**
* Styles for trending posts widget plugin
*/

.trend-num {
    color: #000;
    background: #a2a2a2;
    padding: 5px 10px;
    border-radius: 50%;
}
a.trend-entry {
    margin-left: .5em;
    padding-left: .5em;
}